@page
@model KE03_INTDEV_SE_1_Base.Pages.OrderHistoryModel

<section class="orders-page">
    <h1>Mijn bestellingen</h1>

    @if (Model.SelectedCustomer != null)
    {
        <p>Bestellingen van: <strong>@Model.SelectedCustomer.Name</strong></p>
    }

    @if (!Model.Orders.Any())
    {
        <p>Je hebt nog geen bestellingen geplaatst.</p>
    }
    else
    {
        <div class="orders-list">
            @foreach (var order in Model.Orders)
            {
                <article class="order-card-new">
                    <div class="order-left">
                        <h2>Bestelnummer: #@order.Id</h2>
                        <p>Besteld op: @order.OrderDate.ToString("dd-MM-yyyy")</p>

                        <div class="order-products-list">
                            @foreach (var item in order.OrderItems)
                            {
                                <p>@item.Product.Name x @item.Amount</p>
                            }
                        </div>

                    </div>

                    <div class="order-right">
                        <p><strong>Adres:</strong> @order.Address @order.HouseNumber, @order.PostalCode @order.City</p>
                        <p><strong>Status:</strong> Ontvangen</p>

                        <button type="button" class="return-button">
                            Retour aanmelden
                        </button>
                    </div>

                    <div class="order-bottom">
                        <a asp-page="/OrderDetails" asp-route-orderId="@order.Id" class="order-details-link">
                            Details
                        </a>

                        <strong>Totaal: € @order.TotalPrice.ToString("0.00")</strong>
                    </div>
                </article>
            }
        </div>
    }
</section>